# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\94 - 99  IT Bachelor\مبانی امنیت اطلاعات\Huffman\Huffman-Projectam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
